<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net40" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net20" />
  <package id="log4net" version="2.0.8" targetFramework="net20" requireReinstallation="True" />
  <package id="MSBuildTasks" version="1.4.0.88" targetFramework="net20" />
</packages>